*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // sets what 1rem is
  font-size: 62.5% !important;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.4rem;
}

input, textarea {
  outline: none;
  margin-bottom: 2rem !important;
  padding: 20px !important;
  font-size: 14px !important;

  &:focus {
    box-shadow: .2rem 0.2rem .5rem .1rem rgb(146, 144, 144) !important;
    border: none !important;
  }
}



