*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // sets what 1rem is
  // font-size: 62.5% !important;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
}

input, textarea {
  outline: none;
  margin-bottom: 20px !important;
  padding: 20px !important;
  font-size: 14px !important;

  &:focus {
    box-shadow: 2px 2px 5px 1px rgb(146, 144, 144) !important;
    border: none !important;
  }
}

a {
  text-decoration: none;

  &:hover, &:visited, &:link {
    color: #000000 !important;
    text-decoration: none !important;
  }
}



