.card {
  box-shadow: inset 1rem 0 10px #000000;
}
.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}

.card-text {
  font-size: 1.5rem;
  color: darken(#697e95, 20%);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}