.card {
  box-shadow: inset 10px 0 10px #000000;
}
.card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.card-text {
  font-size: 15px;
  color: darken(#697e95, 20%);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}