.jumbotron {
  background-color: #ffffff !important;
}

.add-project {
  height: 15rem;
  width: 15rem;
  border: 2px dashed #697e95;
  border-radius: 2rem;
  margin-top: 10rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
}